<div class="row" style="padding: 5px;">
    <div class="col col-12" style="text-align: center!important;">
  
      <mat-card style="background-color: ghostwhite; min-height: 88vh;">
        <mat-card-header class="content">
        </mat-card-header>
        <mat-card-content class="padre" style="min-height: 60vh!important;">
          <div class="padre" style="min-width: 100%!important;">
            <div class="hijo" style="min-width: 100%!important;">
              
              <img src="assets/images/documento.png" style="width: 80%; max-width: 400px;">
              <br>
              <h3>Para los siguientes pasos se recomienda
                que gires tu móvil de forma horizontal</h3>
         
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          
            <p>
              <button pButton type="button" label="Continuar" class="ui-button-raised"
                style="width: 250px;font-size: large" (click)="Siguiente()"></button>
            </p>
         
        </mat-card-actions>
      </mat-card>
    </div>
  </div>