<div class="row" style="padding: 5px;">
    <div class="col col-12" style="text-align: center!important;">
  
      <mat-card style="background-color: white; min-height: 88vh;" > 
        <mat-card-header class="content">
        </mat-card-header>
        <mat-card-content class="padre" style="min-height: 60vh!important;">
                <div class="padre" style="min-width: 100%!important;">
                    <div  style="min-width: 100%!important;">
                        <div  >
                          
                            <h1>Reconocimiento Facial</h1>
                            <h4 >1. Evita contra luces, lugares oscuros y asegurate
                                de enfocar el rostro correctamente.
                            </h4>
                            <h4>2. Toma la fotografia con el rostro descubierto sin
                                gorras ni lentes de sol.
                            </h4>
                           
                        </div>
                        <p>
                            <img style="height: auto ; width: 90%; max-width: 400px;" src="assets/images/instru.png"
                                class="img-fluid">
                        </p>
                        
                    </div>
                </div>


            </mat-card-content>
            <mat-card-actions>
                <p>
                    <button pButton type="button" label="Entiendo" class="ui-button-raised"
                        style="width: 250px;font-size: large;" (click)="Siguiente()"></button>
                </p>
            </mat-card-actions>
        </mat-card>
    </div>
</div>