<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
<staticContent>
            <!-- "." means no extension -->
            <!--  to prevent future duplication errors, remove "." mime map in case a higher level configuration is defined somewhere in the web server tree -->
            <remove fileExtension="." />
            <!-- now add the mime map again -->
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/GUIFirmaDigital/" />
      </rule>
    </rules>
  </rewrite>
  
</system.webServer>

</configuration>