.padre {
    display: flex;
    align-items: center;
    text-align: center;
    vertical-align: center ;
    
 }
 .hijo {
    line-height: 10px; 

 }

  

  .wrapper {
    position: relative;
    padding-right:300px;
    padding-bottom:162px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  img {
    position: absolute;
    width:300px;
    height:162px;     
  }

  .signature-pad {
    position: absolute;
    width:300px;
    height:162px;  
  }